{% extends "base/skeleton.html" %}

{% block bottomBlocks %}

{% endblock bottomBlocks %}



{% block sidebar %}

  <div class="ym-cbox">


    <h6>Optional Title</h6>
    <nav class="ym-vlist">
      <h6 class="ym-vtitle">Optional Title</h6>
      {% if categoryList %}
        <ul>
          {% for category in categoryList %}
            <li><a href="/shop/category/{{ category.id }}/">{{ category.categoryName }} ({{ category.numProduct }})</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No Categories are available</p>
      {% endif %}

    </nav>
  </div>
{% endblock sidebar %}
