

body {
	font-family: Tahoma,Verdana,Georgia,"Times New Roman",Times,serif;
	font-size: 80%;
}

body>header {
	min-width: 760px;
	padding: 0em;
}

header h1 {
	color: #cccccc;
}

h1 {
	margin: 0.43em;
	line-height: 1.2em;
}

ym-equalize > [class*="ym-g"] {
	margin: 10px;
	}



nav#nav {
	
}

.ym-gbox {
	margin: 5px;
}

.topRightInfoBox {
	/*background-image: url('../icon/web0.2/48x48/Basket.png');*/
	background-color: #fff;
	color: #aaa;
	font-size: 70%;
	text-align: right;
}

.loginHeadline {
	border-bottom: 2px solid;
	border-color: #ccc;
}

.basketHeadline {
	border-bottom: 1px dotted;
}

.ym-hlist {
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #a3d222;
	background-color: #fff;
}

.ym-hlist ul li a, .ym-hlist ul li strong, .ym-hlist ul li.active a:active, .ym-hlist ul li.active strong {
	text-shadow: none;
	color: #4D87C7;
}

body {
	
}

header {
	background: #fff;
}


.ym-wrapper {
	max-width: 80em;
}



.ym-icon-small {
		display: inline-block;
		white-space: nowrap;
		background-color: #93BDDD;
		background-image: -webkit-linear-gradient(top, #eee, #93BDDD);
		background-image: -moz-linear-gradient(top, #eee, #93BDDD);
		background-image: -ms-linear-gradient(top, #eee, #93BDDD);
		background-image: -o-linear-gradient(top, #eee, #93BDDD);
		background-image: linear-gradient(top, #eee, #93BDDD);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
		border: 1px solid #777;
		-webkit-border-radius: .2em;
		-moz-border-radius: .2em;
		border-radius: .2em;
		-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.15);
		-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.15);
		box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.15);
		color: #333 !important;
		cursor: pointer;
		font: normal 0.7em/1.8em Arial, Helvetica;
		margin: 0 0 0 0;
		padding: 0 1em;
		overflow: visible; /* removes extra side spacing in IE */
		text-decoration: none !important;
		text-shadow: 0 1px 0 rgba(255,255,255,.8);
		padding-left: 0.2em;
    	padding-right: 0.2em;
}

.ym-buy:before { content: "\2042"; }
.ym-add:before { content: "\2719"; }
.ym-next:before { content: "\27A1"; }

img {
	
	vertical-align: middle;
}

td {
	width: auto;
}

td.actionColumn {
	width: 1%;
	white-space: nowrap;
	text-align: right;
}

.info {
	background: #ffffff;
}