{% extends "category/categoryOverview.html" %} {% block main %}
<section class="box info">

  <table class="bordertable">
  
    <thead>
      <tr>
      <th>
      Kurzbezeichnung
      </th>
      <th>
      Produzent
      </th>
      
      <th>
      Preis/Stück
      </th>
      <th>
      </th>
      </tr>
    </thead>
  
    {% for product in productList %}
    <tr>

      <td>{{ product.headline }}</td>
      <td>{{ product.producer }}</td>
      <td>{{ product.pricePerUnit }}</td>
      <td class="actionColumn">
          <a class="ym-icon-small" href="/shop/product/{{ product.id }}/"><img src="/static/icon/web0.2/16x16/Toolbar - Info.png" /></a>
          <o class="ym-icon-small" href="/shop/product/{{ product.id }}/"><img src="/static/icon/web0.2/16x16/Basket.png" /></a>

 
        


      </td>
    </tr>
    {% endfor %}
  </table>
  <a href="http://google.com">google</a>


</section>
{% endblock main %}
