{% extends "category/categoryOverview.html" %} {% block main %}
  <section class="box info">

    <form class="ym-form" action="/Product/{{ Prodcut.id }}/vote/" method="post">

      <div class="productCard">
        <img class="scale" src="/static/image/logoNuls_bw.png"/>

      </div>
      <div class="productCardFooter"></div>


      <table class="bordertable">

        <thead>
        <tr>
          <th>
            Kurzbezeichnung
          </th>
          <th>
            Produzent
          </th>

          <th>
            Preis/Stück
          </th>
          <th>
            Menge
          </th>
          <th>
          </th>
        </tr>
        </thead>

        {% for product in productList %}
          <tr>

            <td>{{ product.headline }}</td>
            <td>{{ product.producer }}</td>
            <td>{{ product.pricePerUnit }}</td>
            <td><input type="text" name="amount" id="{{ product.id }}" value="1"/>
            </td>
            <td class="actionColumn">
              <a class="ym-icon-small" href="/shop/product/{{ product.id }}/"><img
                  src="/static/icon/web0.2/16x16/Toolbar - Info.png"/></a>
              <a class="ym-icon-small" href="/shop/product/{{ product.id }}/toBasket"><img
                  src="/static/icon/web0.2/16x16/Basket.png"/></a>


            </td>
          </tr>
        {% endfor %}
      </table>
    </form>
    <a href="http://google.com">google</a>


  </section>
{% endblock main %}
